
<header>
  <h1 class="title">WEATHER APP</h1>
  <div class="navigation">
    <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/src">SRC</a></li>
    <li><a href="/about">ABOUT</a></li>
    </ul>
  </div>
</header>
<main>