<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>header}}
    <div class="width">
        <br>
        <h2>NPM Package</h2>
    <ol>
        <li>Request</li>
        <li>Path</li>
        <li>HBS</li>
        <li>Express</li>
    </ol>
        <br>
    <h2>API src</h2>
    <ol>
        <li>DarkSky.net : <a href="https://darksky.net">visit website</a></li>
        <li>MapBox.com : <a href="https://MapBox.com">visit website</a></li>
    </ol>
        <br>

    <h2>Github</h2>
    <p>Download Files => <a href="https://github.com/surazzShahil">Click here</a></p>


    </div>

    {{>footer}}
</body>
</html>